//
//  Config.xcconfig
//  Bookiibookii
//
//  Created by jungee on 4/2/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = 60ed0ac67ad0a531b8c04453af01851e
GOOGLE_CLIENT_ID = 521863648387-bj8uotqd6dt0mtt3ba5nrk5m8trufepa.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.521863648387-bj8uotqd6dt0mtt3ba5nrk5m8trufepa
GOOGLE_SERVER_CLIENT_ID = 521863648387-va6lnj141f5vea7r9vqcf6kiivnoi1n4.apps.googleusercontent.com
