<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GOOGLE_SERVER_CLIENT_ID</key>
	<string>$(GOOGLE_SERVER_CLIENT_ID)</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>KAKAO_REST_API_KEY</key>
	<string>$(KAKAO_REST_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk</string>
		<string>instagram-stories</string>
		<string>instagram</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
		<string>pretendard_regular.ttf</string>
		<string>pretendard_medium.ttf</string>
		<string>pretendard_semibold.ttf</string>
		<string>pretendard_bold.ttf</string>
		<string>maruburi_extralight.ttf</string>
		<string>maruburi_light.ttf</string>
		<string>maruburi_regular.ttf</string>
		<string>maruburi_semibold.ttf</string>
		<string>maruburi_bold.ttf</string>
	</array>
</dict>
</plist>
